<p id="notice" class = "myflash" ><%= notice %></p>

<div class = "container">
<% if Post.any? %>
    <%= render @posts %>
<% else %>
    <div class = "well row">
        <h4>No posts yet.</h4>
    </div>
<% end %>
</div>

<%= link_to 'Post Image', new_post_path %>
<br>
<%= will_paginate @posts %>

